.outerShell{
    margin-top: 5%; 
    width: 100%;
}

.innerShell{
    display: none;
}


.smallDisplay{
    display: block;
}


.leftSide{
    float: left;
    width: 50%;
}

.rightSide{
    float: right;
    width: 45%;
}

.contactInfo{
    width: 75%;
    margin: auto; 
}

.css-main-projectImageShell{
    width: 100%;
}

.css-main-projectImage{
    display: block;
    width: 55%;
    margin: auto;
}


@media only screen and ( min-width: 760px ) {
    .smallDisplay{
        display: none;
    }

    .innerShell{
        border: 1px solid black;
        display: block; 
        width: 90%;
        max-width: 1500px;
        margin: auto;
        overflow: auto;
        clear: both; 
    }

}